.ly_header {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

.ly_header_inner {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bl_header_ttl > h1 {
  color: #e25c00;
  font-size: 1.125rem;
  font-weight: bold;
}

.bl_header_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 600px;
  margin-bottom: 10px;
}

.bl_header_auth > h1 {
  font-size: 1.125rem;
}
.ly_content {
  width: 1000px;
  margin:0 auto;
}
.ly_content h1{
  margin-top: 50px;
  margin-bottom: 30px;
}
.ly_footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
}

.ly_footer_inner {
  text-align: center;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.el_footerCopyright {
  color: white;
}